<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>Quizzz - Quiz</title>
    <script src="../js/quiz.js" defer></script>
</head>
<body>
    <header>
        <h1>Quiz en cours</h1>
    </header>
    <main id="quiz-container">
        <h2 id="question">Question ici...</h2>
        <div id="answer-buttons">
            <!-- Boutons de réponses générés dynamiquement -->
        </div>
        <div id="question-container">
            <section id="question-1">
                <!-- Content for question 1 -->
            </section>
            <section id="question-2">
                <!-- Content for question 2 -->
            </section>
            <!-- Add more sections as needed -->
        </div>
        <button onclick="nextQuestion()">Question Suivante</button>
    </main>
    <footer>
        <p>&copy; 2023 Quizzz. Tous droits réservés.</p>
    </footer>
    <script src="../js/stateManager.js" defer></script>
</body>
</html>
